<div class="container mt-4">
  <div class="row fs-5">
    <div class="col-md-6">
      <h2><%= @dog.name %></h2>

      <% if @dog.photos.present? %>
        <div class="image-container">
          <img src="<%= @dog.photos %>" alt="Dog Photo" class="img-fluid mb-3 rounded">
        </div>
      <% else %>
        <p>No photo available</p>
      <% end %>

      <p><strong>Breed:</strong> <%= @dog.breed %></p>
      <p><strong>Personality:</strong> <%= @dog.personality %></p>
      <p><strong>Date of Birth:</strong> <%= @dog.date_of_birth %></p>

      <% unless @dog.nil? || @dog.owner == current_user %>
        <%= link_to new_dog_booking_path(@dog), class: "btn btn-primary mb-3", role: "button" do %>
          Book Now
        <% end %>
      <% end %>
    </div>

    <div class="col-md-6">
      <% if @dog.owner.present? %>
        <h2>Owner: <%= @dog.owner.first_name %> <%= @dog.owner.last_name %></h2>
        <% if @dog.owner.photos.present? %>
          <div class="image-container">
            <img src="<%= @dog.owner.photos %>" alt="Owner Photo" class="img-fluid mb-3 rounded">
          </div>
        <% else %>
          <p>No owner photo available</p>
        <% end %>
        <p><strong>Email:</strong> <%= @dog.owner.email %></p>
      <% else %>
        <p>Owner: Unknown</p>
      <% end %>
    </div>
  </div>
</div>
