<div class="container">
<h1 class="text-center">Hi <%=@user.first_name %>!</h1>
<h2 class="text-center">Your bookings 🦮:</h2>
</div>
<br>


<div class="container">
  <div class="row justify-content-center align-items-center">
  <% @bookings.each do |booking| %>
    <div class="booking-card col-12 col-lg-4 pf-2 px-2">
    <h3>Dog: <%=booking.dog.name%></h3>
    <p>Breed: <%=booking.dog.breed%></p>
    <p>Foster starts: <%=booking.start_date%></p>
    <p>Foster ends: <%=booking.end_date%></p>
    </div>
  <% end %>
  </div>
</div>
