<h1 class="text-center mt-4">New Booking 🦮</h1>

<div class="container mx-auto" style="max-width: 50%;">
<%= simple_form_for [@dog, @booking] do |f| %>
  <% if @user.bookings.count < 3 %>
    <%= f.input :start_date, as: :string, input_html: {type: 'date', class: "form-control"} %>
    <%= f.input :end_date, as: :string, input_html: {type: 'date', class: "form-control"}  %>
    <div class="text-center">
      <%= f.submit "Place Booking", class: "btn btn-primary w-100" %>
    </div>
  <% else %>
    <h3 class="text-center">We know how much you love our furry friends, but you can only foster 3 dogs at a time.</h3>
    <%= f.input :start_date, as: :string, input_html: {type: 'date', class: "form-control", disabled: true} %>
    <%= f.input :end_date, as: :string, input_html: {type: 'date', class: "form-control", disabled: true}  %>
    <div class="text-center">
      <%= f.submit "Place Booking", class: "btn btn-primary w-100", disabled: true %>
    </div>
  <% end %>
<% end %>
</div>
