<%= link_to bookings_path, style:"font-size: 30px; color:black" do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>

<div class="row text-white rounded-3 bg-dark my-3">
  <div class="col-sm-6 border border-white ">
    <div class="renter-card text-center py-4">
      <h3 class="pb-3"> <strong>Renter Info:</strong></h3>
    <img src="<%= @renter.photos %>" class="rounded-circle" alt="Renter photo" style="width: 200px; height: 200px; object-fit: cover;">
    <h4 class= pt-4> Name: <%= @renter.first_name %> <%= @renter.last_name %></h4>
    <h4>Email: <%= @renter.email %></h4>

    <% if @renter.dogs.count > 0 %>
  <h4 class="text-center"> <%= @renter.first_name %> also has dogs</h4>
  <div class="d-flex justify-content-evenly align-items-center">
    <% @renter.dogs.each do |dog| %>
    <img src="<%= dog.photos %>" class="rounded-circle" alt="Renter photo" style="width: 75px; height: 75px; object-fit: cover;">
    <% end %>
  </div>
    <% else %>
      <h4 class="text-center"><%= @renter.first_name %> has no dogs</h4>
    <% end %>
    </div>
  </div>

  <div class="col-sm-6 border border-white">
    <div class="booking-card text-center py-4">
      <h3 class="pb-3"><strong>Booking Info:</strong></h3>
    <img src="<%= @dog.photos %>" class="rounded-circle" alt="Renter photo" style="width: 200px; height: 200px; object-fit: cover;">
    <h4 class= pt-4> To foster: <%= @dog.name %> </h4>
    <h4>For: <%= @days %> days </h4>
    <h4>From:</h4>
    <h4 class="text-center"><strong><%= @booking.start_date.strftime("%A, %B %d, %Y") %>
    to <%= @booking.end_date.strftime("%A, %B %d, %Y") %> </strong></h4>

  <div class="show-btns d-flex justify-content-center my-4">

    <% if @booking.status == "Pending" %>
      <button class="btn btn-success me-5"><%= link_to "Accept booking", accept_booking_path(@booking),
      style: "text-decoration:none; color: black;" , data: {turbo_method: :post, turbo_confirm: "Approve booking ?"}%></button>
      <button class="btn btn-danger "><%= link_to "Decline booking", decline_booking_path(@booking),
      style: "text-decoration:none; color: black", data: {turbo_method: :post, turbo_confirm: "Decline booking?"}%></button>
    <% elsif @booking.status == "Approved" %>
        <h4 class="text-center text-success"><strong>You've approved this booking</strong></h4>
    <% else %>
        <h4 class="text-center text-danger"><strong>You've declined this booking</strong></h4>
    <% end %>
    </div>
  </div>
</div>
